h2 {
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
}

p {
  font-family: 'Lato', sans-serif;
}

.drawer {
  background-color: #61b15a;
  height: 94px;
}

.drawer-icon {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-left: 20px;
}

.search-suggestions {
  list-style-type: none;
  color: #000;
}

.search-bar {
  width: 350px;
  border-radius: 20px;
  border: 2px solid #f0f0f0;
  margin-top: 20px;
}
