h2 {
  font-size: 30px;
  line-height: 37.2px;
  margin-top: 60px;
}

.subtitle,
h2 {
  font-family: 'Libre Baskerville', serif;
}

p,
.search-suggestions,
label {
  font-family: 'Lato', serif;
}

.drawer {
  background-color: #61b15a;
  height: 94px;
}

.drawer-icon {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-left: 20px;
}

.search-bar {
  width: 293px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #f0f0f0;
  font-size: 20px;
  padding-left: 12px;
}

.title {
  text-align: center;
}

.search-suggestions,
.search-bar {
  font-size: 20px;
  list-style-type: none;
  color: #a0a3a8;
}

.search-suggestions {
  text-decoration: underline 1px;
}

.search-bar:focus {
  outline: none;
}

.list-container {
  width: 150px;
  margin: 0 auto;
}

ul.search-list {
  float: left;
  position: relative;
  left: -75%;
  font-size: 20px;
  list-style-type: none;
  line-height: 1.75em;
}

.plant-card {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.card-title {
  font-size: 30px;
  width: 71px;
  margin: 0;
}

.subsection {
  font-size: 20px;
  margin-bottom: 0;
}

.about-text {
  margin-top: 5px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 0;
}

.add-remove-btn,
.form-btn {
  background: #61b15a;
  border-radius: 20px;
  border: none;
  color: white;
}
.add-remove-btn {
  margin-top: 10px;
  margin-left: 230px;
  width: 115px;
  height: 33px;
}

.form-btn {
  width: 79px;
  height: 33px;
}

.card-body {
  line-height: 22px;
}

.plant-img {
  width: 400px;
  height: 400px;
}

.plant-info {
  margin: 0;
  line-height: 22px;
}

.garden-form-container {
  height: 472px;
  width: 348px;
  background-color: #F0F0F0;
  margin: 0 auto;
}

.garden-form-title {
  font-size: 18px;
  margin: 15px;
  padding-top: 20px;
}

.garden-form {
  text-align: left;
}

#notes {
  width: 314px;
  height: 142px;
  margin: 10px;
}

.form-btn {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.new-garden-form {
  width: 200px;
}

.hidden {
  display: none;
}
